body {
    background-color: lightgrey;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 70vw;
    height: 70vh;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

h1, aside, footer {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

h1 {
    background-color: #9F2063;
    font-weight: normal;
}

.container {
    display: grid;
    gap: 10px;
}

section {
    background-color: #24B676;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    align-items: center;
}

article {
    background-color: #E4195B;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

footer {
    background-color: #E06924;
}

.blue {
    background-color: #116395;
}

.light-blue {
    background-color: #25A4B5;
}

@media screen and (min-width: 769px) {

    .grid {
        width: 90vw;
        height: 60vh;
    }

    .container {
        grid-template-columns: 1fr 2fr 1fr;
    }

    section {
        grid-template-columns: repeat(3, 1fr);
    }

    article {
        grid-row-start: 3;
    }

    aside {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    section::before {
        content: "ARTICLE";
        display: block;
        text-align: center;
        font-size: 2rem;
        color: white;
        grid-row-start: 2;
        grid-column-start: 2;
    }

    h1, footer {
        padding: 20px;
    }

}
